{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}

<style>
.page-link{
            background-color: #28a745;
            color: white;
            border: 1px solid #28a745;
       
            border: none;
            cursor: pointer;
            font-size: 14px;
            border-radius: 5px;
            list-style-type: none;
}
.button {
    display: block;
    width: 50px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
</style>
   <div class="container">
        <h2 class="text-center mt-5 mb-3">Symfony Project Manager</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_project_new') }}"> 
                    Create New Project 
                </a>
        <form id="salary-filter-form" method="get" action="{{ path('app_project_index') }}">
            <label for="filtername">Filter by Name:</label>
            <input type="text" name="nameInput" id="nameInput">

            <button type="submit" id="submitButton" class="btn btn-outline-secondary">Search</button>
            <button type="submit" id="resetButton" class="btn btn-outline-secondary">Reset Filters</button>
        </form>
            </div>
            <div class="card-body" id="index_id">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th>Date Updated</th>
                       
                        <th>Image</th>
                        <th>Hobby</th>
                         <th width="240px">Action</th>
                    </tr>
                    {% for project in projects %}
                    
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ project.updatedAt ? project.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                        {% if project.document %}
                        <a href="{{asset('uploads/documents/' ~ project.document) }}" target="_blank">View Document</a>
                        {% else %}
                        Not Uploaded
                        {% endif %}                        
                        </td>
                        <td>{{ project.hobby|join(', ')}}</td>

                        <td>
                            <form method="post" action="{{ path('app_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a
                                    class="btn btn-outline-info"
                                    href="{{ path('app_project_show', {'id': project.id}) }}">
                                    Show
                                </a>
                                <a
                                    class="btn btn-outline-success"
                                    href="{{ path('app_project_edit', {'id': project.id}) }}">
                                    Edit
                                </a>
 
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<nav aria-label="Page navigation">
   {% if pagination.currentPage > 1 %}
    <a class="button" href="{{ path('app_project_index', {'page': pagination.currentPage - 1, 'nameInput': nameInput}) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>
   {% endif %}

   {% for i in 1..pagination.totalPages %}
    <a class="button" href="{{ path('app_project_index', {'page': i, 'nameInput': nameInput}) }}">{{ i }}</a>
   {% endfor %}

   {% if pagination.currentPage < pagination.totalPages %}
    <a class="button" href="{{ path('app_project_index', {'page': pagination.currentPage + 1, 'nameInput': nameInput}) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>
   {% endif %}
</nav>

<script>
 document.getElementById('nameInput').addEventListener('input', function() {
  
    var nameInput = document.getElementById('nameInput').value;
    var url = '{{ path('app_project_index') }}' + 
              (nameInput ? '&nameInput=' + nameInput : '');
             
 
    fetch(url)
        .then(response => response.text())
        .then(data => {
            
         
            document.getElementById('app_project_index').innerHTML = data;
          
        })
        .catch(error => console.error('Error fetching filtered data:', error));
  });

    document.getElementById('resetButton').addEventListener('click', function() {
    document.getElementById('nameInput').value = '';
    
    var url = '{{ path('app_project_index') }}'; 
    fetch(url)
        .then(response => response.text())
        .then(data => {
            document.getElementById('app_project_index').innerHTML = data;
        })
        .catch(error => console.error('Error fetching filtered data:', error));
});
</script>
{% endblock %}
