{# templates/employee/_employee_list.html.twig #}
<table border="1">
    <thead>
        <tr>
  <th>Id</th>     
 <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
             <th colspan="3">Hobby</th>
             <th>Gender</th>
              <th>About Me</th>
              <th>Salary</th>
              <th colspan="2">Roles</th>
              <th>City</th>
              <th>Created At</th>
              <th>Updated at</th>
              <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for employee in employees|sort %}
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{ employee.age }}</td>
            <td colspan="3">{{ employee.hobby|join(', ') }}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.aboutMe}} </td>
            <td>{{employee.salary}}</td>
            <td colspan="2">{{employee.roles|join(', ')}}</td>
            <td>{{employee.city}}</td>
           <td> {{ employee.createdAt|date("F jS \\a\\t g:ia") }}</td>
            <td>{{employee.updatedAt|date("F jS \\a\\t g:ia") }}</td>
          
            <td>
             <form method="post" action="{{ path('employee_edit', {'id': employee.id}) }}">
             <a><button class="btn btn-outline-success" href="{{ path('employee_edit', {'id': employee.id}) }} ">Update</button></a>
             </form>

            <form method="post" class="position-absolute  ms-5" action="{{ path('employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
            <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            </td>
       </tr>
        {% else %}
        <tr>
        <td colspan="13" style="text-align: center;">No employees found.</td>
        </tr>
     {% endfor %}
    
     
  </tbody>
</table>
