{% extends 'base.html.twig' %}
{% block title %}Create Employee{% endblock %}
{% block body %}
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('employee_list') }}"> 
                    List of Employees
                </a>
            </div>
<h1>Create a New Employee</h1>
{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.age) }}
    {{ form_row(form.hobby) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.about_me) }}
    {{ form_row(form.salary) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.city) }}
<button type="submit" class="btn btn-primary" onClick="myfun()">submit</button>
<script>
function myfun(){
    alert(' data inserted');
}
</script>
{{ form_end(form) }}
{% endblock %}
